.wallet-component-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.connected-wallet-wrapper-connected {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	color: #2ecc71;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	border: 2px solid #2ecc71;
	padding: 8px 16px;
	border-radius: 4px;
}

.connect-wallet-wrapper {
	display: flex;
	gap: 1rem;
	background-color: lightblue;
	font-size: 20px;
	font-weight: bolder;
	padding: 4px 8px;
	justify-content: center;
	align-items: center;
}

.connect-wallet-wrapper button {
	background-color: #2563eb;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.connect-wallet-wrapper button:hover {
	background-color: #1a4fb4;
}

.connect-wallet-wrapper .loading {
	color: red;
}
